@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body, html {
margin: 0%;
padding: 0%;
height: 100%;
width: 100%;
transition: all 0.3 ease;
font-family: 'Kanit', sans-serif;
}

.modalparent{
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0%;
  bottom: 0%;
  left: 0%;
  position: fixed;
  background-color: rgb(0, 0, 0,0.5);
}

.modalchild{
width: max-content;
display: flex;
z-index: 9;
flex-direction: column;
align-items: center;
padding: 1rem;
height: max-content;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: white;
border-radius: 20px;
}

.chooseColors{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
  font-weight: 600;
  align-items: center;
  height: 1.8rem;
  padding: 0%;
}

.modalDivs{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: left;
}

.noNotes{
  text-align: center;
  font-size: 1.3rem;
}

.border{
 border: grey 2px solid;
}


.colorSelector{
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
}
.colorSelector:nth-child(1){
  background-color: #b38bfa;
}
.colorSelector:nth-child(2){
  background-color: #ff79f2;
}
.colorSelector:nth-child(3){
  background-color: #43e6fc;
}
.colorSelector:nth-child(4){
  background-color: #f19576;
}
.colorSelector:nth-child(5){
  background-color: #0047ff;
}
.colorSelector:nth-child(6){
  background-color: #6691ff;
}

.inputDiv{
  display: flex;
  justify-content: space-between;
}

.input{
outline: none;
border-radius: 5px;
width: 60%;
font-size: 1rem;
border: 1px grey solid;
padding: 0.5rem;
}

.container{
  display: flex;
height: 100vh;
width: 100%;
}

.logo{
  padding: 0;
  margin: 0;
  color: #001f8b;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noshow{
    width: 30%;
  margin: 0%;
  padding: 0%;
overflow: hidden;
}

.scroll{
  overflow-y: scroll;
  height: 80%;
}

.scroll::-webkit-scrollbar{
  width: 15px;
}
.scroll::-webkit-scrollbar-track{
  background-color: #d9d9d9;
}
.scroll::-webkit-scrollbar-thumb{
  background-color: white;
  border: 1px #d9d9d9 solid;
  border-radius: 15px;
}

.sidebar{
  width: 30%;
  margin: 0%;
  padding: 0%;
overflow: hidden;

}




.content{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 100%;
  }
}

.contentContainer{
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1%;
  img{
    width: 1rem;
  }
}

.addButton{
  position: absolute;
  bottom: 5%;
  width: 3rem;
  height: 3rem;
  cursor: cell;
  border-radius: 50%;
  left: 23%;
  background-color: white;
}

.create{
  background-color: #001f8b;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 0.4rem 2rem;
}

.pfp{
  color: white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  align-items: center;
}

.notesTitleDiv{
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding-left: 2rem;
}

.notesTitle{
font-size: 1.25rem;
font-weight: 600;
}

.blueRibbon{
  width: 100%;
  color: white;
  gap: 1rem;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001f8b;
  height: max-content;
}

.inputTextDiv{
  width: 100%;
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #001f8b;
}

.inputText{
  padding: 1rem;
width: 100%;
outline: none;
border-radius: 15px;
height: 4rem;
resize: none;
overflow-y: scroll;
scrollbar-color: red;
margin: 1rem;
}

.inputText::-webkit-scrollbar {
  width: 15px;             
}

.inputText::-webkit-scrollbar-track {
  background: #d9d9d9;        
}

.inputText::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px #d9d9d9 solid;
  border-radius: 15px;
}
.contentDIv{
  width: 70%;
  display: flex;
  background-color: #dae5f5;
  flex-direction: column;
  justify-content: space-between;
}

.cardDiv{
display: flex;
align-items: center;
padding: 0;
justify-content: center;
margin: 1rem 0rem;
}

.card{
width: 93%;
padding: 0.3rem 0.8rem;
margin: 0;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sendButton{
  position: absolute;
  right: 6%;
  cursor: pointer;
  bottom: 18%;
  color: red;
}

.notesDiv{
  height: 70%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
.notesDiv::-webkit-scrollbar {
  width: 15px;             
}

.notesDiv::-webkit-scrollbar-track {
  background: #d9d9d9;        
}

.notesDiv::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px #d9d9d9 solid;
  border-radius: 15px;
}

.time{
  text-align: end;
  font-weight: 800;
  color: grey;
  font-size: 0.86rem;
  padding: 0;
  margin: 0;
}

.back{
  display: none;
}
@media (max-width: 858px){
  .sidebar{
    width: 40%;
  }
  .content{
    width: 60%;
  }
} 

@media (max-width: 585px){
  .sidebar{
    width: 100%;
  }
  .content{
    display: none;
  }
  .contentDIv{
    display: none;
  }
  .contentScreen{
    display: flex;
    width: 100%;
    z-index: 10;
  }
  .noshow{
    display: none;
  }
  .back{
    display: flex;
  }
  .addButton{
    position: absolute;
  bottom: 5%;
  cursor: cell;
  border-radius: 50%;
  left: 75%;
  width: 4rem;
  height: 4rem;
  background-color: white;
  }
  .logo{
    height: 10%;
  }
  .scroll{
    height: 90%;
  }
  .card{
    width: 80%;
  }
  .inputText{
    font-size: 1.2rem;
  }
} 