@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body, html {
margin: 0%;
padding: 0%;
font-family: 'Kanit', sans-serif;
}

.modalparent{
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0%;
  bottom: 0%;
  left: 0%;
  position: fixed;
  background-color: rgb(0, 0, 0,0.5);
  z-index: 1;
}

.modalchild{
width: 35%;
display: flex;
flex-direction: column;
align-items: center;
height: 20%;
background-color: white;
border-radius: 20px;
}

.input{
border-radius: 5px;
outline: none;
}

.container{
  display: flex;
height: 100vh;
width: 100%;
}

.sidebar{
  width: 30%;
  margin: 0%;
  padding: 0%;
overflow: hidden;
}

.logo{
  padding: 0;
  margin: 0;
  color: #001f8b;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll{
  overflow-y: scroll;
  height: 80%;
}

.scroll::-webkit-scrollbar{
  width: 15px;
}
.scroll::-webkit-scrollbar-track{
  background-color: #d9d9d9;
}
.scroll::-webkit-scrollbar-thumb{
  background-color: white;
  border: 1px #d9d9d9 solid;
  border-radius: 15px;
}

.content{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 100%;
  }
}

.contentContainer{
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1%;
  img{
    width: 1rem;
  }
}

.addButton{
  position: absolute;
  bottom: 5%;
  cursor: cell;
  border-radius: 50%;
  left: 23%;
  background-color: white;
}

.create{
  background-color: #001f8b;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 0.4rem 2rem;
}

.pfp{
  color: white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  align-items: center;
}

.notesTitleDiv{
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding-left: 2rem;
}

.notesTitle{
font-size: 1.25rem;
font-weight: 600;
}

.blueRibbon{
  width: 100%;
  color: white;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001f8b;
  height: max-content;
}

.inputTextDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #001f8b;
}

.inputText{
  padding: 1rem;
width: 90%;
outline: none;
height: 4rem;
resize: none;
overflow-y: scroll;
scrollbar-color: red;
margin: 1rem;
}

.inputText::-webkit-scrollbar {
  width: 15px;             
}

.inputText::-webkit-scrollbar-track {
  background: #d9d9d9;        
}

.inputText::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px #d9d9d9 solid;
  border-radius: 15px;
}
.contentDIv{
  width: 70%;
  display: flex;
  background-color: #dae5f5;
  flex-direction: column;
  justify-content: space-between;
}

.cardDiv{
display: flex;
align-items: center;
justify-content: center;
margin: 1rem 0rem;
}

.card{
  width: 90%;
padding: 1rem;
}

.sendButton{
  position: absolute;
  right: 6%;
  cursor: pointer;
  bottom: 18%;
  color: red;
}